body{
	font-family: sans-serif;
	color: orange;
	background-color: lightblue;
	background-image: url(images.png);
	background-repeat: repeat-y;
	backg
}

h1{
	font-size: 10vm;
	font-style: italic;
	color: white;
	font-weight: bold;
}